<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store-connect</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>847HR8U8D9</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.serp.windowmanager</key>
		<string>OWNER_SUPPLIED_MAIN_PROFILE_NAME</string>
		<key>com.serp.windowmanager.launcher</key>
		<string>OWNER_SUPPLIED_LAUNCHER_PROFILE_NAME</string>
	</dict>
</dict>
</plist>
